/* Colors
Dull - 69BFAE
Dark - 467F74 
Bright - 8CFFE8
Darker - 23403A
Brighter - 7EE5D0
*/


.ProblemBox {
    position: absolute;
    background: cyan;
    border: 4px solid lightblue;
    border-radius: 14px;
    left: 20%;
    width: 60%;
    text-align: center;
    top: 40%;
    height: 20%;
    font-size: 4vw;
}