body, html {
    height: 100%;
    width: 100%;
}

body {
    background: #23403A
}

.flex-container {
    display: flex;
    height: 100%;
}

.flex-child {
    background: #69BFAE;
    border: 4px solid #467F74;
    border-radius: 14px;
    text-align: center;
    font-size: 5vh;
    margin: auto;
}