/* Colors
Dull - 69BFAE
Dark - 467F74 
Bright - 8CFFE8
Darker - 23403A
Brighter - 7EE5D0
*/

body {
    background: #23403A
}

.ProblemBox {
    position: fixed;
    background: #69BFAE;
    border: 4px solid #467F74;
    border-radius: 14px;
    left: 20%;
    width: 60%;
    text-align: center;
    top: 40%;
    height: 20%;
    font-size: 5vh;
}

.bubble2 {
    position: fixed;
    top: 62%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 80%;
}
.top-right {
    background: lightgray;
    position: fixed;
    top: 0;
    right: 0;
    width: 8%;
    height: 7%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-bottom-left-radius: 20px;
    font-size: 2vw;
    text-align: center;
}

.bottom-left {
    background: floralwhite;
    position: fixed;
    bottom: 0;
    left: 5%;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 2vw;
    text-align: center;

}

#b1 {
    position: absolute;
    left: 20%;
    top: 20%;
}

#b2 {
    position: absolute;
    left: 40%;
    top: 20%;
}

#b3 {
    position: absolute;
    left: 60%;
    top: 20%;
}

#b4 {
    position: absolute;
    left: 80%;
    top: 20%;
}